html, body {
  margin: 0;
  padding: 0;
}
canvas{
display : blok;  
}


h1 {
  text-align: center;
  color : #FFFF;
}

h2 {
  text-align : center;
  color : #FFFF;
}

body{
  background-color : #EE82EE;
}
h1 {
  text-align : center;
  color : #FFF;
}
main {
  position:absolute;
  top: 220px;
  left: 290px;
}
